<style>
  .mySwiperComercial {
    width: 100%;
    height: 250px;
  }
  .mySwiperComercial .swiper-slide{
    height: 100%;
  }
  .collection-menu {
    position: relative;
    display: block;
    width: 100%;
    padding: 5px;
    background-color: purple;
    color: #FFF;
  }
  
  .dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    width: 100%;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    text-align: center;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn { font-weight: 600;}
  </style>

{% if section.settings.show_collection_slider %}
  <div class="container swiper mySwiperComercial">
    <div class="swiper-wrapper">
      {%- for block in section.blocks -%}
        <div class="swiper-slide" style="background:url({{ block.settings.image | img_url: '1500x' }}) no-repeat center center; background-size:cover;">
        </div>
        
      {% endfor %}
    </div>
    <div class="swiper-paginationComercial"></div>
  </div>
{% endif %}


{% if section.settings.show_menu %}
  {% if section.settings.menu != blank %}
    <div class="collection-menu">
      <div class="container grid grid-cols-4">
        {% for link in section.settings.menu.links -%}
          <div class="dropdown">
            <a href="{{ link.url }}" class="dropbtn">{{ link.title }}</a>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endif %}

<script>
  var swiper = new Swiper(".mySwiperComercial", {
    pagination: {
      el: ".swiper-paginationComercial",
    },
  });
</script>


{% schema %}
{
  "name": "Collection",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_collection_slider",
      "default": false,
      "label": "Show Slider"
    },
    {
      "type": "checkbox",
      "id": "show_menu",
      "default": true,
      "label": "Show Menu"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "t:sections.slideshow.blocks.slide.name",
      "limit": 5,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Imagen"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection",
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}
