@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,700;0,800;1,600;1,700&display=swap');

body {
    overflow-x: hidden;
    font-family: 'Barlow', sans-serif;
}

.cover-screen {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.1;
    z-index: 2;
}
.opacity-3 {
    opacity: 0.3;
}
.opacity-8 {
    opacity: 0.8;
}
.section-header {
    background-color: #FFF;
}
.nav__item {
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    color: #2A3692;
    font-size: 14px;
}
.nav__item:hover {
    transition: 0.5s;
    font-weight: 600;
    text-decoration: underline;
}
.container-menu-right {
    min-width: 350px;
}
.account.link {
    background-color: #2A3692;
    border-radius: 20px;
}
.login-icon {
    position: relative;
    display: inline-block;
    height: 35px;
    width: 120px;
}
.icon-cart {
    color: #EF1615;
    border: solid 1px;
    border-radius: 30px;
    padding: 5px;
    height: 30px;
    width: 55px;
}
.cart__count {
    background-color: #2A3692;
}
.menu-phone-number {
    position: relative;
    color: #EF1615;
    font-weight: 600;
    min-width: 145px;
}
.menu-phone-number span {

}
.phone-icon {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 10px;
    float: left;
    margin-right: 5px;;
}




.slide-main {
    position: relative;
    display: block !important;
}
.container-slide-text {
    position: relative;
    display: inline-block;
    float: left;
    margin-left:10%;
    text-align: left;
    color: #FFF;
    margin-top: 10%;
}
.container-slide-text h1 {
    font-weight: 800;
    font-size: 50px;
}
.container-slide-text p {
    font-weight: 300;
}

.mySwiperProducts .swiper-wrapper {
    height: auto;
}

.mySwiperProducts h2 {
    font-size: 28px;
    font-weight: 600;
    color: #2A3692;
    margin-bottom: 0px;
    text-align: center;
    margin-top: 25px;
    
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after, .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    font-size: 22px;
    font-weight: 700;
}
.swiper-button-next-products, .swiper-button-prev-products {
    color: #D6D6D6;
    border: 1px solid;
    padding: 30px;
    border-radius: 53px;
}


.mySwiper_products {
    height: auto;
    padding-bottom: 55px;
    margin-bottom: 25px;
    margin-top: 25px;
}
.product-item-container .descripcion {
}
.product-item-container .imagen-producto {
    position: relative;
    display: block;
}
.product-item-container h4 {
    font-size: 14px;
    color: #2A3692;
    font-weight: 600;
    text-align: left;
}
.product-item-container .subtitle {
    color: #3F3F3F;
    font-size: 12px;
    text-align: left;
}
.product-item-image {
    position: relative;
    display: block;
    height: 175px;
    margin-bottom: 50px;
}
.button {
    text-align: center;
}
.button-buynow {
    background-color: #EF1615;
    color: #FFF;
    border-radius: 20px;
    padding: 5px;
    font-size: 12px;
    min-width: 100px;
    float: left;
}
.button-details {
    background-color: #FFF;
    color: #2A3692;
    border: solid 1px;
    border-color: #2A3692;
    border-radius: 20px;
    padding: 3px;
    font-size: 12px;
    min-width: 100px;
}
.button-red {
    background-color: #EF1615;
    color: #FFF;
    border: none;
    border-radius: 20px;
    padding: 4px 15px;
    font-size: 12px;
    font-weight: 500;
    min-width: 100px;
}


#btn-filtro {
    position: relative;
    display: inline-block;
    float: left;
    height: 50px;
    width: 50px;
}
.bg-gray {
    position: absolute;
    display: block;
    height: 187px;
    width: 100%;
    background-color: gray;
    left: 0;
    z-index: -2;
}

.image-button {
    height: 350px;
    position: relative;
}
.image-button > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 3;
    width: 70%;
}
.image-button h1 {
    font-weight: 600;
    font-size: 28px;
    color: #FFF;
    line-height: 1.1;
    margin-bottom:10px;
}
.icon-image-button {
    position: relative;
    display: inline-block;
    float: left;
    height: 55px;
    width: 55px;
    margin-bottom: 5px;
}
.image-button .info {
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
}
.image-button .info2 {
    color: #FFF;
    font-size: 12px;
    font-weight: 300;
}
.imagen-button:first-child {
    font-size:35px;
}
