@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,700;0,800;1,600;1,700&display=swap');

body {
    overflow-x: hidden;
    font-family: 'Barlow', sans-serif;
}

.cover-screen {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.1;
    z-index: 2;
}
.opacity-3 {
    opacity: 0.3;
}
.opacity-8 {
    opacity: 0.8;
}
.section-header {
    background-color: #FFF;
}
.nav__item {
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    color: #2A3692;
    font-size: 14px;
}
.nav__item:hover {
    transition: 0.5s;
    font-weight: 600;
    text-decoration: underline;
}
.container-menu-right {
    min-width: 350px;
}
.account.link {
    background-color: #2A3692;
    border-radius: 20px;
}
.login-icon {
    position: relative;
    display: inline-block;
    height: 34px;
    width: 120px;
}
.icon-cart {
    color: #EF1615;
    border: solid 1px;
    border-radius: 30px;
    padding: 5px;
    height: 26px;
    width: 55px;
}
.cart__count {
    background-color: #2A3692;
}
.menu-phone-number {
    position: relative;
    color: #EF1615;
    font-weight: 600;
    min-width: 145px;
}
.menu-phone-number span {

}
.phone-icon {
    position: relative;
    display: inline-block;
    height: 24px;
    width: 12px;
    float: left;
    margin-right: 5px;;
}




.slide-main {
    position: relative;
    display: block !important;
}
.container-slide-text {
    position: relative;
    display: inline-block;
    float: left;
    margin-left:10%;
    text-align: left;
    color: #FFF;
    margin-top: 30vh;
}
.container-slide-text h1 {
    font-weight: 800;
    font-size: 50px;
    color: #FFF;
}
.container-slide-text p {
    font-weight: 300;
}

.mySwiperProducts .swiper-wrapper {
    height: auto;
}

.mySwiperProducts h2 {
    font-size: 28px;
    font-weight: 600;
    color: #2A3692;
    margin-bottom: 0px;
    text-align: center;
    margin-top: 25px;
    
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after, .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    font-size: 22px;
    font-weight: 700;
}
.swiper-button-next-products, .swiper-button-prev-products {
    color: #D6D6D6;
    border: 1px solid;
    padding: 30px;
    border-radius: 53px;
}


.tab-menu-subcategory h1 {
    color: #FFF;
    font-size: 14px;
}
#sort-by {
    font-size: 12px;
    padding: 5px;
}


.mySwiper_products {
    height: auto;
    padding-bottom: 55px;
    margin-bottom: 25px;
    margin-top: 25px;
}
.product-item-container .descripcion {
}
.product-item-container .imagen-producto {
    position: relative;
    display: block;
}
.product-item-container h4 {
    font-size: 14px;
    line-height: 14px;
    color: #2A3692;
    font-weight: 600;
    text-align: left;
}
.product-item-container .subtitle {
    color: #3F3F3F;
    font-size: 12px;
    line-height: 12px;
    text-align: left;
    margin-top: 5px;
}
.product-item-image {
    position: relative;
    display: block;
    height: 135px;
    margin-bottom: 25px;
}
.button {
    text-align: center;
}
.button-buynow {
    background-color: #EF1615;
    color: #FFF;
    border-radius: 20px;
    padding: 5px;
    font-size: 12px;
    min-width: 70px;
    float: left;
    transform: 0.3s;
}
.button-buynow:hover {
    background-color: #b91312;
    font-weight: 600;
}
.button-details {
    background-color: #FFF;
    color: #2A3692;
    border: solid 1px;
    border-color: #2A3692;
    border-radius: 20px;
    padding: 3px;
    font-size: 12px;
    min-width: 70px;
}
.button-details:hover {
    font-weight: 600;
}
.button-red {
    background-color: #EF1615;
    color: #FFF;
    border: none;
    border-radius: 20px;
    padding: 4px 15px;
    font-size: 12px;
    font-weight: 500;
    min-width: 100px;
}


#ProductGridContainer {
    margin-top: 25px;
}
#btn-filtro {
    position: relative;
    display: inline-block;
    float: left;
    height: 40px;
    width: 40px;
}
.filter-label {
    color: #2A3692;
}
.btn-apply-filter {
    background-color: #2A3692;
    color: #FFF;
    padding: 2px 15px 5px 15px;
    border-radius: 10px;
    font-size: 14px;
}
.active-filters__remove-filter {
    background-color: #FFF;
    border: solid 1px #2A3692;
    color: #2A3692;
}
.bg-gray {
    position: absolute;
    display: block;
    height: 205px;
    width: 100%;
    background-color: #F7F7F7;
    left: 0;
    z-index: -2;
    padding: 15px;
    margin-top: 130px;
}

.image-button {
    height: 350px;
    position: relative;
}
.image-button > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 3;
    width: 70%;
}
.image-button h1 {
    font-weight: 600;
    font-size: 28px;
    color: #FFF;
    line-height: 1.1;
    margin-bottom:10px;
}
.icon-image-button {
    position: relative;
    display: inline-block;
    float: left;
    height: 55px;
    width: 55px;
    margin-bottom: 5px;
}
.image-button .info {
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
}
.image-button .info2 {
    color: #FFF;
    font-size: 12px;
    font-weight: 300;
}
.imagen-button:first-child {
    font-size:35px;
}



.container-contact-form {
    background-color: #2A3692;
    color: #FFF;
    padding: 25px 85px;
}
.contact-form-logo {
    position: relative;
    display: inline-block;
    height: 30px;
    width: 110px;
    background-color: red;
}
.container-contact-form input, .container-contact-form textarea {
    background-color: #4050A4;
    border: none;
    border-radius: 5px;
    margin-top: 3px;
    font-size: 14px;
    padding: 7px;
    height: 35px;
}
.container-contact-form textarea {
    height: 70px;
}
.container-contact-form h2 {
    font-size: 32px;
    font-weight: 700;
}
.container-contact-form label {
    font-size: 14px;
    padding-left: 15px;
    margin-top: 10px;
}
.button-contact {
    position: relative;
    display: inherit;
    width: 200px;
    background-color: #EF1615;
    color: #FFF;
    border-radius: 15px;
    font-size: 12px;
    padding: 4px;
    margin: 15px auto 25px auto;
}


.about-us {
    margin-top: 35px;
    padding-bottom: 35px;
}
.about-us h1 {
    font-size: 34px;
    font-weight: 600;

}
.img-about-us {
    position: relative;
    display: inline-block;
    height: 40px;
    width: 185px;
    margin-top: 25px;
}


footer {
    font-size: 12px;
    padding: 15px;
}
.link_list h3 {
    font-size: 16px;
}
.link_list hr {
    height: 1px;
    background-color: #FFF;
    width: 160px;
}
.footer-img {
    margin-top: 35px;
}


h1 {
    font-size: 26px;
    font-weight: 600;
    color: #2A3692;
}
.product-page {
    margin-top: 55px;
}
.product-title {
    font-size: 32px;
    line-height: 32px;

}
.product-text-shop {
    color: #727272;
    font-size: 14px;
}
.product-description {
    color: #2A3692;
    font-size: 12px;
    margin: 10px 0px 10px 0px;
}
.product__text.subtitle {
    color: #3F3F3F;
}
.price__element-normal {
    font-size: 26px;
    font-weight: 300;
    color: #2A3692;
    margin: 20px 0px;
}
.product-form__input input[type=radio]:checked + label {
    background-color: #2A3692;
    color: #FFF;
}
.product-form__input {
    
}
.product-qty__wrapper {
    border-radius: 10px;
    border-color: #2A3692;
    color: #2A3692;
}
.product-form__input label {
    border-radius: 10px;
    border-color:#2A3692;
    color: #2A3692;
}
.add-to-cart-button {
    background-color: #2A3692;
    border-radius: 10px;
}
.shopify-payment-button__button {
    background-color: #EF1615 !important;
    border-radius: 10px !important;
}
.hr-section {
    height: 1px;
    background-color: #2A3692;
    border-radius: 11px;
    margin-top: 35px;
    margin-bottom: 25px;
}



.cart-counter {
    color: #2A3692;
    font-weight: 600;
    font-size: 14px;
}
.btn-continue-shopping {
    color: #818181;
    font-weight: 300;
    font-size: 16px;
    margin-top: 10px;
}
.btn-continue-shopping:hover {
    font-weight: 500;
}
.cart-drawer-icon {
    position: relative;
    display: inline-block;
    height: 18px;
    width: 25px;
}
.drawer-product-title {
    color: #2A3692;
    font-weight: 600;
    font-size: 18px;
}
.drawer-money {
    color: #2A3692;
    font-weight: 300;
    margin-bottom: 5px;
}
.drawer-variant {
    color: #3F3F3F;
    margin-left: 5px;
    font-size: 16px;
    margin-bottom: 3px;
}
.drawer-qty {
    border-radius: 15px;
    border-color: #2A3692;
    color: #2A3692;
    border: solid 1px;
    height: 22px;
    margin-top: 10px;
    font-size: 10px;
}
.drawer-qty button {
    border: none;
}
.drawer-qty input {
    border: none;
    font-size: 12px;
}
.cart-drawer-total {
    border-top: solid 1px #2A3692;
}
.sub-total {
    padding-top: 25px;
}
.sub-total-label {
    color: #2A3692;
    font-weight: 600;
}
.sub-total-money {
    color: #3F3F3F;
    font-weight: 300;
}
.drawer-btn-checkout {
    background-color: #EF1615;
    width: 100%;
    color: #FFF;
    padding: 8px;
    border-radius: 15px;
    margin-top: 15px;
    font-size: 12px;
}